---
http_interactions:
- request:
    method: post
    uri: https://auth.cloud.ovh.net/v3/auth/tokens
    body:
      encoding: UTF-8
      string: '{ "auth": { "identity": { "methods": [ "password" ], "password": {
        "user": { "name": "<USERNAME>", "domain": { "id": "default" }, "password":
        "<API_KEY>" } } } } }'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Subject-Token:
      - gAAAAABcdCT-IW1tCTWqbarlizUfoZ_xjCZ4Rej-gozTjaqV8SgDMUSqJ6aJuGXYoebK4yJNaiCeaWcOtQZuo4JMXuCO-WkEFziqERPr4iyR_mBkW42mgJ_shiOjDAUo1I5BYUdIu2tpz-67Gi15FlOvU6Sd0CeDxjkR5YClnMAb_rSzFRkpUOk
      Content-Type:
      - application/json
      X-Openstack-Request-Id:
      - req-34bf7de9-baf8-4fb0-81e8-fd9cb262e325
      X-Iplb-Instance:
      - '24496'
    body:
      encoding: UTF-8
      string: '{"token": {"is_domain": false, "methods": ["password"], "roles": [{"id":
        "942a61c1931e494eb01c73b8cb9f445f", "name": "project_operator"}], "is_admin_project":
        false, "project": {"domain": {"id": "default", "name": "Default"}, "id": "25064d4764a846de8053b0378aabfebb",
        "name": "0409099920117805"}, "catalog": [{"endpoints": [{"region_id": "UK1",
        "url": "https://network.compute.uk1.cloud.ovh.net/", "region": "UK1", "interface":
        "internal", "id": "14582a3f48f240bb855a641d085b48d3"}, {"region_id": "WAW1",
        "url": "https://network.compute.waw1.cloud.ovh.net/", "region": "WAW1", "interface":
        "public", "id": "1736e066ec40430692670a2bb409d438"}, {"region_id": "WAW1",
        "url": "https://network.compute.waw1.cloud.ovh.net/", "region": "WAW1", "interface":
        "admin", "id": "183ee921d5c7448ba692345f6befc905"}, {"region_id": "GRA3",
        "url": "https://network.compute.gra3.cloud.ovh.net/", "[...]
